.App {
  text-align: center;
}

#flechas {
  color: white;
  padding: 15px;
  border-radius: 50%;
  background-color: black;
  opacity: 70%;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#flechas:hover {
background-color: gray;
}

#imagenlateral {
  height: 100px;
  width: auto;
  margin: 10px;
}

